{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <h1>Sign up</h1>
    <form action="{{ url_for('register') }}" method="post" onsubmit="return validateForm()">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password">
        
        <button type="submit">Sign Up</button>
    </form>
    <script>
        function validateForm() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
